.head-block{
    height: fit-content;
}

.news-title{
    transition: 300ms;
    color: black;
}

.news-line{
    height: 3px;
    width: 0%;
    background-color: rgb(108, 0, 129);
    transition: 300ms;
}

.news-title:hover{
    color: rgb(108, 0, 129);
    fill: rgb(108, 0, 129);
}

.news-title:hover .news-line{
    width: 100%;
}

.news-block{
    width: 330px;
}

